  <aside class="column span-6">
    <div>
      <h1>
      	<%= @user.name %></br>
        <%= gravatar_for @user %>
        </br>
      <a href="http://gravatar.com/emails" target=_blank>change</a>
      </h1>
    </div>
  </aside>
  
 <div class="column span-11 last">
<%= render 'form' %>
<%= render 'microposts/micropost_form' %>
</div>


<%= link_to 'Back', @user %> 
